.VendingMachine{
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.VendingMachine-p{
    color: #fff;
    z-index: 1;
    display:flex;
    text-align: center;
    font-size: 30px;
    margin-bottom: 35rem;
    margin-left: 10rem;
}

.VendingMachine-links{
  z-index: 1;
  color: #fff;
  text-transform: uppercase;
  list-style: none;
  font-size: 30px;
  cursor: pointer; 
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: start;
  text-decoration: none;
}

li{
  margin-bottom: 10px;
  text-decoration: none;
}

.link{
  text-decoration: none;
  color: #fff;
}